* {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #85586F;
}

body {
    background-color: #FEFBE7;
    margin-left: 0;
    margin-right: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    width:100%;
    height: 100vh;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    margin: 0px auto 0 auto;
    font-weight: 500;
   }

h2 {
    font-family: 'Poppins', serif;
    font-size: 2.1em;
    font-weight: 500;
    padding-top: 8px;

}

h3 {
    margin-top: 0%;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 1.6em;
    color: #85586F;
}


img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.5;
    margin: 16px 0 16px 0;
}

nav {
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 60px;
}

nav ul li{
    display: inline-block;
    line-height:80px;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

label.logo{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    text-transform: uppercase;
}
#black{
    color: black;
}

a.active, a:hover{
    background: #F8ECD1;
    transition: 1s;
}

/* index.html css */
.intro {
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 50px;
}

.about_me {
    padding: 5% 35% 5% 5%;
}

.hit_me{
    background-color: #F9EBC8;
    padding: 5%;
    text-align: center;
}

.bottom-container{
    text-align: center;
    padding-top: 2.5%;
    font-size: 14px;
    padding-bottom: 2%;
}

a.button {
    background-color: #DAE5D0;
    padding: 20px 30px;
    margin-top: 20px;
    display: inline-block;
    font-weight: 600;
}

/* my_story.css */
.center-align {
    margin: auto;
}

.fa-angles-down {
    text-align: center;
    padding: 2.5% 47%;
    max-width: 100%
}

.q-a{
  width: 80%;
  text-align: center;
  padding: 10%;
}

.askqn{
  padding-bottom: 5%;
}

#flex_container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#flex_container > div {
    max-width: 125%;
    text-align: center;
    padding: 17%;
}

#flex_container > section {
    margin: 5% 7% 2% 3%;
}

.grid{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 500px));
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 20px;
}

.grid > img {
    width: 500px;
    aspect-ratio:1;
    object-fit: cover;
    object-position: center;
}

img.display{
    max-width: 680px;
}

#my_story {
    display: flex;
    flex-direction: row;
    padding: 0 7%;
    height: 800px;
    width: 86%;
}

#my_story > div {
    width: 80%;
    margin-right: 30px;
    margin-left: 30px;
}

#my_story > section {
    margin-top: 20%;
    margin-left: 1%
}

.story_text {
    width: 45%;
    display: inline-block;
    padding-left: 5%;
}

#my_story_text {
    font-size: 100px;
    padding: 40px 0 40px 0;
}

/* contact_me.html */
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container:after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/contact_me_img/cm_bg.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(30px);
}

.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FEFBE7;
    box-shadow: 0px 0px 19px 5px rgba(0 ,0, 0, 0.19);
}

.left {
    height: 100%;
    background: url("../images/contact_me_img/cm1.jpg") no-repeat center;
    background-size: cover;
}

.right {
    padding: 25px 40px;
}

.right > h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.right > h2: after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform; translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: green;
}

.field {
    width: 100%;
    padding: 0.5rem 0rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    font-family: "Playfair Display", "Helvetica", "Arial", sans serif;
}

.field: hover{
    background-color: rgba (0,0,0,0.1);
}

.field: focus{
    background-color: #fff;
    border: 2px solid rgba(30,85,250, 0.47);
}

.area {
    min-height: 150px;
}

.btn{
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    background-color: #F9EBC8;
    cursor: pointer;
    outline: none;
    border: none;
    color: #3A3845;
    transition: .3s;
    border-radius: 30px;
}

.see_more {
            background-color: #F9EBC8;
            color: white; /* White text color */
            padding: 15px 40px; /* Padding around the text */
            font-size: 16px; /* Font size of the text */
            border: none; /* Remove border */
            border-radius: 5px; /* Add some border-radius for rounded corners */
            cursor: pointer; /* Add a pointer cursor on hover */
            margin: 30px 0px;
        }

        /* Add a hover effect to the button */
        button:hover {
            background-color: #45a049; /* Darker green on hover */
        }

#status{
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 10px;
    margin: 1.5% auto;
    border-radius: 8px;
}

#status.success{
    background-color: #E3FCBF;
    animation: status 4s ease forwards;
}
#status.error{
    background-color: #F39189;
    animation: status 4s ease forwards;
}

/* contact_me_two css */
.background {
    position: relative;
    max-width: center;
    margin-right: 0;
    height: 70%;

}
.background img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    display: inline-block;
}

.lastnav{
    position: absolute;
    color: black;
}
.lastnav ul li a{
    color: black;
}

/* changing screen size */
/* adjusting position of logo */
@media screen and (max-width: 1280px) {
    #my_story{
        padding: 0 5%;
    }

    img.display {
        max-width: 500px;
        width: 100%;
    }

    #my_story > div {
    width: 120%;
    }

    #my_story > section{
        margin-top: 19%;
    }
}

@media (max-width: 1000px){
    /* Enable Button to Show Up */
    .checkbtn{
        display: block;
    }
    /* Turn Navbar Vertical */
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #DAE5D0;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 17px
    }
    /* Hovering above the navbar list */
    a:hover, a.active{
        background: none;
        color: #85586F;
    }

    #check:checked ~ul{
        left: 0;
    }
    /*Flex Containers all turn to Block */
    #flex_container{
        display: block;
        text-align: center;
    }

    #flex_container > div {
        padding: 10% 5% 0%
    }

    #flex_container > section{
        margin: 5%;
    }
    /* Increase in height for my_story to have sufficient space */
    #my_story {
        display: block;
        text-align: center;
        height: 950px;
    }
    /*my_story class_adjustments */
    #my_story > div{
        width: 100%;
        margin: 0;
    }
    #my_story > section{
        margin-top: 5%;
    }

    /*index.html adjustments */
    h1{
        font-size: 2.5rem
    }
    .about_me{
        padding: 5% 20% 5% 5%;
    }
    .hit_me{
    }

    body{
        font-size: 12px;
    }
    a.button{
        margin-top: 3px;
    }
    label.logo{
        padding-left: 30px;
        font-size: 1rem;
    }
    .bottom-container > p{
        font-size: 0.55rem;
        margin: 4px 0;
    }
    a.footer-link > img{
        height: 28px;
        width: 28px;
    }

    p{
        font-size: 1em
     }
    .intro{
        padding-bottom: 30px;
    }
    .field,.btn{
        font-size: 0.9rem;
    }
    .right > p{
        font-size: 1.2em;
    }
}

@media (max-width:952px){
    label.logo{
        padding-left: 25px;
    }
    nav ul li a {
        font-size: 15px
    }
}

/* Contact Me Page */
@media screen and (max-width: 880px) {
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 350px;
    }
    .container{
        padding: 22% 0;
    }
}

@media (max-width: 500px) {
    #my_story {
        height: 860px;
    }
    #my_story_text{
        font-size: 75px;
    }
    .grid{
        column-gap: 2px;
        row-gap: 2px;
    }

    h1{
      font-size: 2rem;
    }

}
